name: MacOS

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev

jobs:
  build:
    runs-on: macos-13

    steps:
      - name: Check Out
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: "6.8.2"
          host: mac
          target: desktop
          arch: clang_64

      - name: Build the library.
        run: |
          cmake --preset macos -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/install
          cmake --build --preset macos --target install

      - name: Build the Sandbox app.
        run: cmake --build --preset macos-sandbox
