name: Windows

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Check Out
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: "6.8.0"
          host: windows
          target: desktop
          arch: win64_msvc2022_64

      - name: Build the library.
        run: |
          cmake --preset windows
          cmake --build --preset windows
          cmake --install _build

      - name: Build the Sandbox app.
        run: |
          cmake --preset windows-sandbox
          cmake --build --preset windows-sandbox
